* {
    margin:0;
}

body {
    background-color: rgb(41, 41, 41);
    font-family: 'Vazirmatn', sans-serif;
}

.intro {
    margin-top:auto;
    background-image: url("https://www.teahub.io/photos/full/8-83222_technology-wallpaper-full-hd.jpg");
    height: 75vh;
}

nav {
    position:relative;
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
    justify-content: center;
    top:45vh;
    text-align: center;
    padding: .8vw 0vw;
}
.links {
    text-decoration: none;
    color: rgb(207, 207, 207);
    font-size: 1.5vw;
    text-shadow:black 3px 3px 5px;
    background-color:rgb(41, 41, 41);
    border-radius: 5vw;
    border: .2vw solid rgb(0, 183, 255);
    padding: .8vw;
    width: 25vw;
}
    .links:hover{
        color:rgb(0, 183, 255);
    }

.hometext{
    position:absolute;
    left: 2vw;
    top: 8vw;
}
    .myname {
        color:rgb(0, 183, 255);
        font-family: 'Dancing Script', cursive;
        font-size: 5vw;
        
    }
    .mydesc {
        color:rgb(155, 155, 155);
        text-align: right;
    }


footer{
    display:grid;
    grid-template-columns: auto auto;
    border-top:.5vw solid rgb(0, 183, 255);
    height:auto;
    color:rgb(155, 155, 155);
    padding: 1vw;
}
    .footer-name{
        color:rgb(207, 207, 207);
        font-family: 'Dancing Script', cursive;
        font-size: 2.2vw;
        position:absolute;
    }
    .contact {
        padding-top: 3vw;
        padding-left: .5vw;
        color:rgb(207, 207, 207);
        font-size: 1.2vw;
    }

    .socials {
        display:grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: space-around;
    }
        .insta-icon{
            width: 5vw;
        }
        .fb-icon {
            width: 7.5vw;
        }
        .gh-icon {
            width: 6vw;
        }
            .soc-icon a:hover{
                color:rgb(0, 183, 255);
            }